.icons{
    max-width: 2vw; 
    display: flex;
    gap: 1rem;
}
.icons img{
    width: 100%;
    height: auto;
    cursor:  pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #625ac4;
    margin: auto;
    margin-top: 10vh;
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
}

.quote{
    padding: 5rem 10rem;
    color: white;
    text-align: center;
    font-size: 2rem;

}
.bottom{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author{
    color: white    ;   
    font-size: 1.5rem;
}

.tagline{
    position: absolute;
    bottom: 2;
}
@media (max-width: 600px) {
    .container{
        width: 90vw;
        height: 90vh;
    }
    .quote{
        padding: 2rem 4rem;
        font-size: 1.5rem;
    }
    .bottom{
        width: 80%;
        justify-content: space-around;
    }
    .author{
        font-size: 1rem;
    }
    .icons{
        max-width: 7vw; 
        display: flex;
        gap: 0.5rem;
    }
    .icons img{
        width: 100%;
        height: auto;
        cursor:  pointer;
    }
}
@media (max-width: 480px) {
    .container{
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
    .quote{
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
        margin-bottom:3rem ;
    }
    .bottom{
        width: 80%;
    }
    .author{
        font-size: 1rem;
    }
}